@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-black-primary: #13131d;
  --color-black-secondary: #323131;
  --color-black-tertiary: #313341;
  --color-white: #ffffff;
  --background-creme: #ededed;
  --color-grey: #e3e6e9;
  --color-green: #37d28a;
  --color-gradient-primary: linear-gradient(to left, #5f6ffa 0%, #ff00cc 51%, #5f6ffa 100%);
  --color-pink-primary: #ff00cc;
  --color-grey-secondary: #a0a0a0;
  --color-black-transparent: #00000026;
}
